/node_modules/
/.next/
/package-lock.json
/public/favicon.ico
/public/vercel.svg
/public/images/
/dist/
/build/

/src/sharp/images/
/src/sharp/test/result/
/src/static/

/src/photo/__test/controller/result/
/src/photo/__test/controller/upload/

/src/__test__/image/
/src/__test__/temp/
/src/__test__/uploads/

/uploadedFiles/
/credentials/
.env

upload/
temp/
